html,
body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 100%;
}
.content-inside {
  padding-bottom: 100px;
}
.footer {
}

body {
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul,
button,
form,
input {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  display: inline-block;
}

button {
  background-color: transparent;
}
