html,
body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 100%;
}
.content-inside {
  padding-bottom: 100px;
}
.footer {
}

body {
  font-family: Roboto, sans-serif;
  width: calc(100vw - 12px);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul,
button,
form,
input {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  display: inline-block;
}

button {
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #ff6b08;
}

.message {
  font-size: 20px;
  text-align: center;
}
.message-congrats {
  font-weight: bold;
  margin: 20px 0;
  color: #ff6b08;
}
