.footer {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.14;
  color: #545454;
  height: 100px;
  background: #f7f7f7;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  //   height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    height: 80px;
    font-size: 16px;
    line-height: 1.18;
  }

  // @media (min-width: 1024px) {
  //   max-width: 1600px;
  // }
}

.svg-heart {
  width: 14px;
  height: 13px;
  fill: #ff6b08;
}

br {
  @media (min-width: 768px) {
    display: none;
  }
}
