.header {
  height: 230px;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header--main {
  background-image: url(../images/header320.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/header2x320.png');
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/header768.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/header7682x.png');
    }
  }

  @media (min-width: 1200px) {
    background-image: url(../images/header1200.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/header12002x.png');
    }
  }
}

.header--lib {
  background-image: url(../images/headerhidden320.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/headerhidden2x320.png');
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/headerhidden768.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/headerhidden2x768.png');
    }
  }
  @media (min-width: 1200px) {
    background-image: url(../images/headerhidden1200.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/headerhidden2x1200.png');
    }
  }
}

.header-box {
  padding-top: 40px;
  padding-left: 23px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;

  @media screen and (min-width: 768px) {
    min-width: 768px;
    padding-left: 72px;
    padding-right: 72px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.section-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

.svg-logo {
  width: 24px;
  height: 24px;
  fill: #818181;
  margin-right: 12px;
}

.logo-text {
  font-family: 'Roboto', sans-serif;;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  color: #ffffff;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.navigation-list {
  font-family: 'Roboto', sans-serif;;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: #ffffff;
}

.navigation-list--btn {
  position: relative;
}

.navigation-list--btn:not(:last-child) {
  margin-right: 39px;
}

.btn-home,
.btn-library {
  font-family: 'Roboto', sans-serif;;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: #ffffff;
  background-color: transparent;
  padding-bottom: 5px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-home:hover,
.btn-library:hover {
  color: #ff6b08;
}

.btn-home::after,
.btn-library::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  border-radius: 2px;
}

.current-color::after {
  background-color: #ff6b08;
}

.search-form {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.search-cont {
  position: relative;
}

.search-input {
  border-bottom: 0.5px solid #ffffff;
  background-color: transparent;
  color: #fcfcfc;
  min-width: 200px;

  @media screen and (min-width: 768px) {
    min-width: 280px;
    height: 20px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 340px;
  }
}

input::placeholder {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.svg-search {
  position: absolute;
  top: 0;
  right: 4px;
  width: 12px;
  height: 12px;
  fill: #ffffff;
  margin-left: 10px;
}

.library-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-watched,
.btn-queue {
  font-family: 'Roboto', sans-serif;;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
  padding: 14px 38px;
  background-color: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-watched:hover,
.btn-queue:hover {
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  background: rgba(255, 107, 1, 0.8);
}

.btn-watched {
  margin-right: 15px;
}

.is-hidden {
  display: none;
}
