body.light-theme {
  background-color: #fff;
}
.film-name.light-theme {
  color: #000000;
}
.backdrop.light-theme {
  background-color: rgba(0, 0, 0, 0.2);
}
.modal.light-theme {
  background-color: #ffffff;
}
li.card__item.light-theme {
  color: #8c8c8c;
}
.card-container .card__description.light-theme {
  color: #000000;
}
.card-container .card__text.light-theme {
  font-size: 12px;
}
.footer.light-theme {
  background: #f7f7f7;
  color: #545454;
}
