

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  z-index: 2;
}

.modal.is-open {
  opacity: 1;
  pointer-events: initial;
}

.modal__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal__container {
  overflow-x: auto;

  position: relative;
  margin: auto;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: #000000;
  max-height: 100vh;
  width: 280px;
  padding: 48px 20px 41px 20px;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    display: flex;
    margin: auto;
    width: 618px;
    height: 562px;
    padding: 42px 29px 40px 28px;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    width: 882px;
    height: 568px;
    padding: 50px 30px 40px 30px;
  }

}

.image {
  margin-right: auto;
  margin-left: auto;
  display: block;

  max-width: 240px;
  height: 356px;
  border-radius: 5px;
  margin-bottom: 30px;
  @media screen and (min-width: 78px) and (max-width: 1023px) {
    max-width: 264px;
    height: 373.55px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 396px;
    height: 477.8px;
  }

}

.film__image {

  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }

}

.film__information {
  text-align: start;
}

.film__title {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.17;
  }

}

.film__item {
  display: flex;
  margin-bottom: 10px;
}

.film__details {
  color: #8c8c8c;
  min-width: 108px;
}

.film__info--uper {
  text-transform: uppercase;
  line-height: 1.17;
}

.film__rating--orange {
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  background-color: #ff6b01;

  border-radius: 5px;
}

.film__rating--divider {
  margin-right: 3px;
}

.film__about__title {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.film__about__text {
  line-height: 1.67;
  margin-bottom: 21px;
}

.film__button__wrapper {
  display: flex;
}

.film__button {
  width: 112px;
  height: 44px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #000000;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,

  &:focus {

    background-color: #ff6b08;
    color: #ffffff;
    border: 1px solid #ff6b08;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 125px;

  }

  @media screen and (min-width: 1024px) {
    width: 136px;
  }

}

.film__button:first-child {
  margin-right: 15px;
}

.close__button {
  position: absolute;
  top: 2%;
  right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  background-image: url('../images/svg/close-modal.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.company {
  display: none;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__item {
    display: block;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__img {
    max-height: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    display: block;
    position: absolute;
    bottom: 5%;
    right: 50%;
    left: 0%;

    &__img {
      max-height: 44px;
    }

  }

  @media screen and (min-width: 1024px) {
    display: block;
    position: absolute;
    bottom: 10%;
    right: 5%;

    &__img {
      max-height: 54px;
    }

  }

}


 
  