.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-page.MuiPaginationItem-textPrimary.Mui-selected {
  background-color: #ff6b08;
}

.MuiPaginationItem-root.MuiPaginationItem-ellipsis {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.MuiPagination-root .MuiPagination-ul {
  justify-content: center;
}

#root_futer {
  margin-top: 50px;
}

#root_header {
  margin-top: 50px;
}
