.main-container {
  display: flex;
  justify-content: center;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 20px 40px 20px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 60px 75px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding: 60px 71px;
  }
}

.container {
  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    // margin: -30px;
    display: flex;
    // justify-content: space-around;
    flex-wrap: wrap;
    @media (min-width: 1200px) {
      margin-left: 100px;
      margin-right: -100px;
    }
  }

  // justify-content: center;
}

.gallery-item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  height: 440px;

  @media screen and (min-width: 768px) {
    // margin: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 294px;
    flex-basis: calc((100% - 60px) / 2);
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
    margin-right: -30px;
    &:nth-child(2n + 1) {
      margin-right: -30px;
    }
    &:nth-child(3n) {
      margin-right: -30px;
    }
  }
}

.card-link {
  display: flex;
  flex-direction: column;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    //  box-shadow: 0px 1px 1px rgba(rgb(255, 107, 8), 0.12), 0px 4px 4px rgba(rgb(255, 107, 8), 0.06),
    //1px 4px 6px rgba(rgb(255, 107, 8), 0.16);
  }
}

.film-page {
  position: relative;
  width: 280px;
  overflow: hidden;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    width: 294px;
  }
  @media screen and (min-width: 1200px) {
    width: 274px;
  }
}

.film-image {
  height: 398px;
  width: 100%;
  object-fit: cover;
}

.film-info {
  margin-top: 10px;
}

.film-name {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;

  color: #000000;
}

.film-genre {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: #ff6b08;
}

///////////////////////////////////////////////////////////////
.film-overlay-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 1;
  ////////////////////////////////////////
  color: rgb(122, 115, 115);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
}

.reviews-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.review {
  border: 1px solid transparent;
  border-radius: 5px;
  color: #777;
  display: flex;
  font-size: 12px;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
}

// .review:hover {
//   border: 1px solid #ddd;
//   box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.7);
// }

.progress {
  background-color: rgba(100, 100, 100, 0.2);
  border-radius: 5px;
  position: relative;
  margin: 0 10px;
  height: 10px;
  width: 200px;
}

.progress-done {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8580474426098564) 0%,
    rgba(145, 61, 1, 1) 27%,
    rgba(176, 74, 1, 1) 53%,
    rgba(255, 107, 1, 1) 100%
  );
  box-shadow: 0 3px 3px -5px linear-gradient(90deg, rgba(0, 0, 0, 0.8580474426098564) 0%, rgba(
          145,
          61,
          1,
          1
        )
        27%, rgba(176, 74, 1, 1) 53%, rgba(255, 107, 1, 1) 100%);
  border-radius: 5px;
  height: 10px;
  width: 0;
  transition: width 1s ease 0.3s;
}

.percent {
  color: #333;
} /////////////////////////////////////////////////////////////////////
.film-overlay-box-average {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  width: 100px;
  color: #ffffff;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid #ffffff;
  background-color: rgba(255, 107, 8, 0.6);
  box-sizing: border-box;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover .film-overlay-box {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

// .film-image:hover {
//   transform: scale(1.2);
// }

.film-overlay-box-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.overhidden {
  overflow: hidden;
}

// .overskroll {
//   overflow: scroll;
// }
