.js-backdrop {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow-y: scroll;
  align-items: center;
}

.modal-team {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 980px;
  text-align: center;
  align-items: center;

  overflow-y: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding-bottom: 13px;
  padding-top: 13px;
}

.developer-container {
  margin: 15px 0;
  justify-content: center;
  align-items: center;
}

.dev-set {
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.devcont-item {
  list-style: none;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: space-between;
  margin: 0 80px;
  flex-wrap: wrap;
  align-items: center;

  &:not(:last-child) {
  }
}

.social-network-link {
  color: #000;
}

.social-network-box {
  margin-bottom: 10px;
}

.social-network-item {
  &:hover {
    transform: scale(1.5);
  }
}

.devcont-img {
  border-radius: 50%;
  margin-bottom: 25px;
  height: 134px;
  transition: box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 50px #ff6b08;
  }
}

.devcont-description {
  display: inline-block;
  text-align: center;
  transform: scale(1.1);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.devcont-name {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.devcont-position {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #ff6b08;
}

.devcont-social-network {
}

.social-network-box {
  align-items: center;
}
.social-network-item {
  margin-right: 10px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal-team {
    width: 650px;
    flex-wrap: wrap;
  }
  .devcont-item {
    justify-content: center;
    margin: 0 40px;
    align-items: center;

    &:not(:last-child) {
    }
  }

  .devcont-name {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
  }

  .social-network-item {
    &:hover {
      transform: scale(1.5);
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal-team {
    flex-wrap: wrap;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 295px;
    max-height: 100vh;
    position: relative;
    margin: auto;
  }

  .developer-container {
    display: flex;
    flex-wrap: wrap;
  }
  .devcont-item {
    justify-content: center;
    margin: 0 20px;
    align-items: center;
  }

  .devcont-img {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 105px;
    height: 105px;
    transition: box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      transform: scale(1);
      box-shadow: 0px 10px 50px #ff6b08;
    }
  }

  .devcont-name {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
  }

  .devcont-position {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
  }

  .devcont-social-network {
    margin: 0 auto;
    &:not(:last-child) {
      margin: 0 20px;
    }
  }

  .social-network-item {
    &:hover {
      transform: scale(1.5);
    }
  }
}
