body {
  background-color: #fff;
}
.film-name {
  color: #000000;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}
.modal {
  background-color: #ffffff;
}
li.card__item {
  color: #8c8c8c;
}
.card-container .card__description {
  color: #000000;
}
.card-container .card__text {
  font-size: 12px;
}
.footer {
  background: #f7f7f7;
  color: #545454;
}
