h2,
p {
  margin: 0;
}

.card-container {
  @media (min-width: 768px) {
    width: 264px;
    margin-left: 30px;
  }

  @media (min-width: 1200px) {
    width: 882px;
  }
}

.modal__img {
  width: 240px;

  @media (min-width: 768px) {
    width: 264px;
  }

  @media (min-width: 1200px) {
    width: 396px;
  }
}

.card__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  padding-top: 30px;
  padding-bottom: 20px;

  color: #000000;

  @media (min-width: 767px) {
    padding-top: 0;
  }
  @media (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.16;
  }
}

.card__item {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: #8c8c8c;

  padding-bottom: 10px;
  &:nth-child(4n) {
    padding-bottom: 20px;
  }

  float: left;
  width: 100%;
  @media (min-width: 1200px) {
    width: 49%;
  }
}

.card__item-vote,
.card__item-popularity,
.card__item-original-title,
.card__item-genres {
  float: right;
  width: 53%;

  @media (min-width: 1200px) {
    width: 49%;
  }
}

.card__item-count,
.card__item-popularity,
.card__item-original-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;

  color: #000000;
  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 1.33;
  }
}

.card__item-genre {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  color: #000000;
  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 1.33;
  }
}
.card__description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  padding-bottom: 10px;
  text-transform: uppercase;

  color: #000000;
}

.card__text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  padding-bottom: 20px;
  color: #000000;
}

.card__item-average {
  padding: 1px 10px;
  background: #ff6b01;
  border-radius: 5px;
}

.card__item-count {
  padding: 1px 5px;
  background: #f7f7f7;
  border-radius: 5px;
}

.card__list-btn {
  @media (min-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.card__btn-watched,
.card__btn-que,
.card__btn-trailer {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #000000;

  margin-bottom: 10px;
  &:nth-child(3n) {
    margin: 0;
  }

  @media (min-width: 768px) {
    margin-bottom: 0;

    margin-right: 15px;
    &:nth-child(3n) {
      margin-top: 10px;
    }
  }

  @media (min-width: 1200px) {
    &:nth-child(3n) {
      margin-top: 0;
    }
  }
}

.card__btn-que {
  @media (min-width: 768px) and(max-width:1199px) {
    margin: 0;
  }
}

.card__btn-watched:hover,
.card__btn-que:hover,
.card__btn-trailer:hover,
.card__btn-watched:focus,
.card__btn-que:focus,
.card__btn-trailer:focus {
  color: #ffffff;
  background-color: #ff6b01;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__list {
  @media (min-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
}

.close {
  position: absolute;
  right: 10px;
  top: 13px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 14px;
  top: 3px;
  content: ' ';
  height: 24px;
  width: 2px;
  background-color: #000;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
