:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body.light-theme {
  background-color: #fff;
}
.film-name.light-theme {
  color: #000000;
}
.backdrop.light-theme {
  background-color: rgba(0, 0, 0, 0.2);
}
.modal.light-theme {
  background-color: #ffffff;
}
li.card__item.light-theme {
  color: #8c8c8c;
}
.card-container .card__description.light-theme {
  color: #000000;
}
.card-container .card__text.light-theme {
  font-size: 12px;
}
.footer.light-theme {
  background: #f7f7f7;
  color: #545454;
}

body.dark-theme {
  background-color: rgb(35, 32, 30);
}
.film-name.dark-theme {
  color: #fff;
}
.backdrop.dark-theme {
  background-color: rgba(0, 0, 0, 0.409);
}
.modal.dark-theme {
  background-color: #534742;
}
li.card__item.dark-theme {
  font-size: 13px;
  color: #ffff;
}
.card-container .card__description.dark-theme {
  color: #fff;
}
.card-container .card__text.dark-theme {
  font-size: 15px;
}
.footer.dark-theme {
  background: rgb(19, 16, 15);
  color: rgb(223, 215, 211);
}
.students-modal.dark-theme {
  color: rgb(223, 215, 211);
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
}

/* THEME SWITCH */
.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 50px;
  height: 18px;
  border-radius: 50em;
  border-color: #ff6b08;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;

  border-color: #ff6b08;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #333;
  border-radius: inherit;
  border-color: #ff6b08;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  // transform: translateX(1px);
  transition: transform 250ms var(--timing-function);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #d3d3d4;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(30px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px #ff6b08;
}
