:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body.light-theme {
  background-color: #fff;
}
.film-name.light-theme {
  color: #000000;
}
.backdrop.light-theme {
  background-color: rgba(0, 0, 0, 0.2);
}
.modal.light-theme {
  background-color: #ffffff;
}
li.card__item.light-theme {
  color: #8c8c8c;
}
.card-container .card__description.light-theme {
  color: #000000;
}
.card-container .card__text.light-theme {
  font-size: 12px;
}
.footer.light-theme {
  background: #f7f7f7;
  color: #545454;
}

body.dark-theme {
  background-color: rgb(35, 32, 30);
}
.film-name.dark-theme {
  color: #fff;
}
.backdrop.dark-theme {
  background-color: rgba(0, 0, 0, 0.409);
}
.modal.dark-theme {
  background-color: #534742;
}
li.card__item.dark-theme {
  font-size: 13px;
  color: #ffff;
}
.card-container .card__description.dark-theme {
  color: #fff;
}
.card-container .card__text.dark-theme {
  font-size: 15px;
}
.footer.dark-theme {
  background: rgb(19, 16, 15);
  color: rgb(223, 215, 211);
}
.students-modal.dark-theme {
  color: rgb(223, 215, 211);
}
