<header class="header">
  <div class="logo">Filmoteka</div>

  <ul classs="navigation-list">
    <li><button class="btn-home" id="btn-home">HOME</button></li>
    <li><button class="btn-library" id="btn-library">MY LIBRARY</button></li>
  </ul>

  <form class="search-form" id="search-form">
    <input class="search-input" type="text" name="query" placeholder="Search films..." />
    <button type="submit">Search</button>
  </form>

  <ul class="library-list is-hidden">
    <li><button class="btn-watched" id="btn-watched">WATCHED</button></li>
    <li><button class="btn-queue" id="btn-queue">QUEUE</button></li>
  </ul>
</header>

<main>
  <div class="container"></div>
</main>

<footer class="footer">
  <div class="developers">© 2021 | All Rights Reserved | Developed with by GoIT Students</div>
  <div class="students"></div>
</footer>
