<div class="students">
   <div class="team-container">
      <div class="team">
         <div class="team__gallery">
            <ul class="gallery">
               <li class="gallery__item">
                  <img src="./images/cat1.jpg" alt="фотография" width="450" />
                  <div class="gallery__label">
                     <h3 class="gallery__name">Name</h3>
                     <p class="gallery__position">Pre Senior Developer</p>
                  </div>
               </li>
               <li class="gallery__item">
                  <img src="./images/cat2.jpg" alt="фотография" width="450" />
                  <div class="gallery__label">
                     <h3 class="gallery__name">Name</h3>
                     <p class="gallery__position">Pre Senior Developer</p>
                  </div>
               </li>
               <li class="gallery__item">
                  <img src="./images/cat3.jpg" alt="фотография" width="450" />
                  <div class="gallery__label">
                     <h3 class="gallery__name">Name</h3>
                     <p class="gallery__position">Pre Senior Developer</p>
                  </div>
               </li>
               <li class="gallery__item">
                  <img src="./images/cat4.jpg" alt="фотография" width="450" />
                  <div class="gallery__label">
                     <h3 class="gallery__name">Name</h3>
                     <p class="gallery__position">Pre Senior Developer</p>
                  </div>
               </li>
               <li class="gallery__item">
                  <img src="./images/cat5.jpg" alt="фотография" width="450" />
                  <div class="gallery__label">
                     <h3 class="gallery__name">Name</h3>
                     <p class="gallery__position">Pre Senior Developer</p>
                  </div>
               </li>
               <li class="gallery__item">
                  <img src="./images/cat6.jpg" alt="фотография" width="450" />
                  <div class="gallery__label">
                     <h3 class="gallery__name">Name</h3>
                     <p class="gallery__position">Pre Senior Developer</p>
                  </div>
               </li>
            </ul>
         </div>

         <div class="team__details">
            <article class="details">
               <img src="./images/cat6.jpg" alt="фотография" width="450" />
               <div class="details__label">
                  <h3 class="details__name">Name</h3>
                  <p class="details__position">Pre Senior Developer</p>
                  <ul class="networks">
                     <li class="networks__item">
                        <a href="" class="networks__link">
                           <svg class="networks__icon" width="20" height="20">
                              <use href="./images/icons.svg#icon-instagram"></use>
                           </svg>
                        </a>
                     </li>
                     <li class="networks__item">
                        <a href="" class="networks__link">
                           <svg class="networks__icon" width="20" height="20">
                              <use href="./images/icons.svg#icon-twitter"></use>
                           </svg>
                        </a>
                     </li>
                     <li class="networks__item">
                        <a href="" class="networks__link">
                           <svg class="networks__icon" width="20" height="20">
                              <use href="./images/icons.svg#icon-facebook"></use>
                           </svg>
                        </a>
                     </li>
                     <li class="networks__item">
                        <a href="" class="networks__link">
                           <svg class="networks__icon" width="20" height="20">
                              <use href="./images/icons.svg#icon-linkedin"></use>
                           </svg>
                        </a>
                     </li>
                  </ul>
               </div>
            </article>
         </div>
      </div>
   </div>
</div>